/* General */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#top-hr {
    margin: 120px 0 50px;
}

/* body */
body {
    font-family: "Roboto", serif;
    font-style: normal;
}

/* Header */
header {
    background-color: #B4D0E6;
    padding-bottom: 20px;
    padding-top: 80px;

    /* DEBUG */
    height: 740px;
}

/* nav - start */
nav {
    width: 100%;
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 30%;
}

.a-nav {
    text-decoration: none;
    font-size: 17px;
    color: black;
}

#btn-nav {
    background-color: #0061FE;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}

#btn-nav:hover {
    background-color: #3f88fe;
}

/* nav - end */

.jumbo-size {
    width: 70%;
    margin: 0 auto;
}

#j-container {
    display: flex;
    margin-top: 80px;
    width: 100%;
    gap: 30px;
}

.jumbo-description {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 30px;

    /* DEBUG */
    /* height: 300px;
    background-color: blue; */
}

.btn {
    padding: 15px 25px;
    background-color: #0061FE;
    color: white;
    text-align: center;
    text-decoration: none;
}

.btn-w {
    width: 80%;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    background-color: #3f88fe;
}

#arrow {
    font-size: 40px;

}

.jumbo-img {
    display: inline-block;
    width: 60%;

    /* DEBUG */
    /* height: 300px;
    background-color: blue; */
}

.jumbo-img img {
    width: 100%;
}

.title {
    margin-top: 50px;
    font-size: 70px;
    text-align: left;
    width: 80%;

    /* DEBUG*/
    /* height: 100px;
    background-color: blue; */
}

/* Main */
main {
    width: 70%;
    margin: 0 auto;
}

h2 {
    font-size: 40px;
    font-weight: 550;
}

h3 {
    font-size: 27px;
}

h4 {
    font-size: 20px;
}

#check {
    display: flex;
    gap: 50px;
    margin-top: 30px;
}

.checkbox-round {
    margin: 30px 0;

    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    border: 5px solid blue
}

.plans-container {
    width: 100%;
    margin: 40px 0;
    display: flex;
    gap: 40px;
    justify-content: space-between;

    /* DEBUG */
    /* height: 600px;
    background-color: green; */
}

.card {
    width: 32%;
}

.top-plan {
    border: 2px lightgray solid;
    padding: 15px;
    text-align: center;
}

.bottom-plan {
    padding: 40px;
    border: 2px lightgray solid;
    padding: 0 40px 70px;
    border-top: none;
}

.stretch {
    height: 95%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 70px;
}

.card-link {
    padding-top: 20px;
}

.divider {
    border-bottom: solid 2px lightgray;
    width: 20%;
    margin: 35px 0;
}

.fa-check {
    color: #0061FE;
}

.plans-container-2 {
    width: 100%;
    margin: 40px 0 80px;

    /* DEBUG */
    /* height: 300px;
    background-color: green; */
}

.flex-row {
    display: flex;
    padding: 30px 0 0;
    justify-content: space-between;
}

#p-plan-con2 {
    width: 60%;
    margin-top: 50px;
}



.sec2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.sec2-box1 {
    width: 65%;

    /* DEBUG */
    /* height: 300px;
    background-color: yellow; */
}

.sec2-box1 img {
    width: 100%;
}

.sec2-box2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;


    /* DEBUG */
    /* height: 300px;
    background-color: yellow; */
}

p {
    line-height: 1.5;
}

#grey-btn {
    padding: 10px 0;
    border: 2px solid black;
    width: 45%;
    text-align: center;
    text-decoration: none;
    color: black;
}

.sec3 {
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    /* DEBUG */
    /* height: 600px;
    background-color: green; */
}

.smallcard-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    /* DEBUG */
    /* height: 150px;
    background-color: blue; */
}

.smallcard-container img {
    width: 100%;
}

.sec4 {
    margin: 80px 0;
    width: 50%;
    padding-bottom: 80px;

    /* DEBUG */
    /* height: 100px;
    background-color: yellow; */
}

.sec4 h2 {
    margin: 30px 0;
}

/* Footer */
footer {
    background-color: black;
    padding: 40px 0;
}

.footer-sec {
    width: 70%;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.ul-footer {
    margin: 0;
    padding: 0;
}

ul li{
    list-style: none;
    padding: 5px 0;
}

.footer-sec2 {
    width: 70%;
    margin: 20px auto;

}

.f-column {
    width: 20%;
    margin: 60px 0;

    /* DEBUG */
    /* height: 400px;
    background-color: chocolate; */
}

.h4-f {
    color: white;
    padding-bottom: 25px;
}

.f-list {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

#f-lang {
    border-top: white solid 2px;
    padding: 20px 0;
    width: 10%;
}

select {
    background-color: black;
    border: none;
    color: white;
}